portfolio/backup.xlsx
portfolio/__pycache__/stockquotes.cpython-37.pyc
portfolio/__pycache__/stockquotes.cpython-35.pyc
converters/debug.txt
portfolio/__pycache__/readexcel.cpython-35.pyc
portfolio/__pycache__/readexcel.cpython-37.pyc
